{
	level="DEBUG",
	
	computer_fwCrafter = {level="INFO"},
	computer_retherToRednet = {level="INFO"},
	computer_fwSupplier = {level="WARN"},
	
	appender={
		console={type="console",
		         format="%t %level [%logger]: %msg"},
		
		debug_file={type="file", max_size=1048576, keep=5, 
					filename="debug.log",
					format="%t %level [%logger]: %msg"},

		-- say(text,range,infVertical): Says the specified text in chat. range and infVertical are optional (default to the config amount and false), and specify the message range and whether range checks will ignore your Y coordinate, respectively.
		chat={type="chat", side="top", sleep=0.1,
					filter={type="level_filter", min="INFO"}}
	},
	
	logger = {
		root={level="DEBUG",
		 appender={"console","debug_file"}}

		,computer = {level="WARN"}
		,["computer.foo"] = {level="INFO"}

		--[[
		computer = {appender={
				console={level="INFO"},
				chat={level="INFO"},
			}},
		computer_fwCrafter = {level="INFO"},
		computer_retherToRednet = {level="INFO"},
		computer_fwSupplier = {level="WARN"}
		]]--
	}
}
